div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 250px;

    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
}

.images {
    display: flex;
    margin: 0 auto;
}

input {
    position: relative;
    width: 35px;
    height: 35px;
}

.left {
    right: 430px;
}

.right {
    right: 70px;
}