div {
    display: flex;

    flex-direction: column;

    height: 290px;
    width: 210px;

    background-color: cornflowerblue;
    border-radius: 5px;
}

ul {
    list-style: none;
}

div>ul {
    display: block;

    margin: 10px;

    padding: 5px;

    height: 210px;
    width: 175px;

    background-color: white;

    border-left-style: solid;
    border-color: red;
    border-radius: 5px;
    border-width: 2px;
}

div>ul>li:hover,
div>ul>li + ul>li:hover,
div>ul>li + ul>li + ul>li:hover,
div>ul>li + ul + ul>li:hover,
div>ul>li + ul + ul>li + ul>li:hover,
div>ul + ul>li:hover {
    background-color: gainsboro;
    border-radius: 5px;
}

div>ul>li,
div>ul + ul>li {
    font-weight: bolder;
}

div>ul>li + ul,
div>ul>li + ul + ul {
    padding: 5px;

    border-left-style: solid;
    border-color: orange;
    border-radius: 5px;
    border-width: 2px;
}

div>ul>li + ul>li,
div>ul>li + ul + ul>li {
    font-weight: bolder;
    font-style: italic;
}

div>ul>li + ul>li + ul,
div>ul>li + ul + ul>li + ul {
    padding: 5px;
}

div>ul>li + ul>li + ul>li,
div>ul>li + ul + ul>li + ul>li {
    font-style: italic;

    padding: 5px;

    border-left-style: solid;
    border-color: orange;
    border-radius: 5px;
    border-width: 2px;
}

div>ul + ul {
    height: 20px;
    
    border-color: white;
}